/**
 * Segment Control
 */

.segmented-control {
    --tab-item-active-indicator-top: 0;
    --tab-item-active-indicator-left: 0;
    --tab-item-active-indicator-width: 0;
    --tab-item-active-indicator-height: 0;

    --tab-item-active-indicator-border-width: 1px;
    position: relative;

    display: flex;
    gap: 4px;
    padding: 4px;
    inline-size: fit-content;
    border: var(--tab-item-active-indicator-border-width) solid #ccc;

    &:after {
        position: absolute;
        inset-inline-start: calc(
            var(--tab-item-active-indicator-left) -
                var(--tab-item-active-indicator-border-width)
        );
        inset-block-start: calc(
            var(--tab-item-active-indicator-top) -
                var(--tab-item-active-indicator-border-width)
        );
        z-index: -1;
        inline-size: var(--tab-item-active-indicator-width);
        block-size: var(--tab-item-active-indicator-height);
        background-color: #f1f1f1;
        content: '';
    }

    &.segmented-control--animated::after {
        transition-duration: 0.3s;
        transition-property: left, top, width, height;
        transition-timing-function: ease;
    }
}

/**
 * Segment
 */

.segment {
    padding: 4px;

    & > input[type='radio'] {
        all: unset;
        /* sr-only */
        position: absolute;
        margin: -1px;
        padding: 0;
        inline-size: 1px;
        block-size: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        appearance: none;
        border-width: 0;
        white-space: nowrap;

        &:focus-visible {
        }
    }

    &:has(> input[type='radio']:checked) {
        outline: 1px dotted crimson;
        outline-offset: -1px;
    }
}

.segment--selected {
    color: #999;
}

.segment--disabled {
    color: #ccc;
}

.segment__label {
    display: block;

    @ex
}

.segment__description {
    display: block;
}
