.input {
    all: unset;
    block-size: 30px;
    padding-block: 2px;
    padding-inline: 8px;
    font-size: 16px;
    line-height: 30px;
    background-color: #fff;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px;

    &:hover,
    &.input--hover {
    }

    &:focus-visible,
    &.input--focus {
        outline: 1px dotted blue;
        outline-offset: 2px;
    }

    &::placeholder {
        color: #999;
    }
}

.input--disabled {
    background-color: #ccc;
}

.input--error {
    border-color: red;
}
