@import '../tokens/theme.scss';
@import '../tokens/button-mixins.scss';

.button {
    all: unset;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    block-size: 48px;
    padding: 0 16px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.28572;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 0;
    transition:
        background-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
        border-color 70ms cubic-bezier(0.2, 0, 0.38, 0.9),
        box-shadow 70ms cubic-bezier(0.2, 0, 0.38, 0.9);

    &:focus-visible {
        outline: 1px dotted var(--iui-token-button-focus-color);
        outline-offset: 2px;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 1;
    }

    &--loading {
        position: relative;
        pointer-events: none;

        &::after {
            position: absolute;
            inline-size: 16px;
            block-size: 16px;
            content: '';
            border: 2px solid currentColor;
            border-block-start: 2px solid transparent;
            border-radius: 50%;
            animation: spin 1s linear infinite;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.button--primary {
    @include button-kind-solid(var(--iui-token-button-primary-color));
}

.button--primary-light {
    @include button-kind-inverse(var(--iui-token-button-primary-color));
}

.button--secondary {
    @include button-kind-solid(var(--iui-token-button-secondary-color));
}

.button--secondary-tertiary {
    @include button-kind-outline(var(--iui-token-button-secondary-color));
}

.button--tertiary {
    @include button-kind-ghost(var(--iui-token-button-secondary-color));
}

.button--danger {
    @include button-kind-solid(var(--iui-token-button-danger-color));
}

.button--danger-secondary {
    @include button-kind-outline(var(--iui-token-button-danger-color));
}

.button--danger-tertiary {
    @include button-kind-ghost(var(--iui-token-button-danger-color));
}

.button--link {
    @include button-kind-ghost(var(--iui-token-button-link-color));
}

.button--light {
    @include button-kind-light(var(--iui-token-button-primary-color));
}
