@import '../tokens/theme.scss';
@import '../tokens/popover.scss';

.popover {
    position: absolute;
    z-index: 1;
    padding: 16px;
    min-inline-size: 100px;
    border: var(--iui-token-popover-border-width) solid
        var(--iui-token-popover-border-color);
    border-radius: var(--iui-token-popover-border-radius);
    background-color: var(--iui-token-popover-background);
    color: var(--iui-token-popover-text-color);
    font-size: 16px;
    filter: drop-shadow(0 1px 2px rgba(60, 64, 67, 0.3))
        drop-shadow(0 1px 3px rgba(60, 64, 67, 0.15));

    &::before {
        position: absolute;
        z-index: -2;
        inline-size: var(--iui-token-popover-arrow-size);
        block-size: var(--iui-token-popover-arrow-size);
        border: inherit;
        background-color: inherit;
        transform: rotate(45deg);
        content: '';
    }

    &::after {
        position: absolute;
        inset: 0;
        z-index: -1;
        border-radius: inherit;
        background-color: inherit;
        content: '';
    }
}

.popover--top {
    inset-inline-start: 50%;
    inset-block-end: calc(100% + var(--iui-token-popover-offset));
    transform: translateX(-50%);

    &::before {
        inset-inline-start: 50%;
        inset-block-start: calc(100% - var(--iui-token-popover-arrow-offset));
        transform: translateX(-50%) rotate(45deg);
    }
}

.popover--top-start {
    inset-inline-start: calc(
        50% - var(--iui-token-popover-arrow-position-start, 0px) - var(
                --iui-token-popover-arrow-half-size,
                0px
            ) -
            (var(--iui-token-popover-border-width, 0px) * 2)
    );
    inset-block-end: calc(100% + var(--iui-token-popover-offset));

    &::before {
        inset-inline-start: var(--iui-token-popover-arrow-position-start);
        inset-block-start: calc(100% - var(--iui-token-popover-arrow-offset));
    }
}

.popover--top-end {
    inset-inline-end: calc(
        50% - var(--iui-token-popover-arrow-position-end, 0px) - var(
                --iui-token-popover-arrow-half-size,
                0px
            ) -
            (var(--iui-token-popover-border-width, 0px) * 2)
    );
    inset-block-end: calc(100% + var(--iui-token-popover-offset));

    &::before {
        inset-inline-end: var(--iui-token-popover-arrow-position-end);
        inset-block-start: calc(100% - var(--iui-token-popover-arrow-offset));
    }
}

.popover--bottom {
    inset-inline-start: 50%;
    inset-block-start: calc(100% + var(--iui-token-popover-offset));
    transform: translateX(-50%);

    &::before {
        inset-inline-start: 50%;
        inset-block-end: calc(100% - var(--iui-token-popover-arrow-offset));
        transform: translateX(-50%) rotate(45deg);
    }
}

.popover--bottom-start {
    inset-inline-start: calc(
        50% - var(--iui-token-popover-arrow-position-start, 0px) - var(
                --iui-token-popover-arrow-half-size,
                0px
            ) -
            (var(--iui-token-popover-border-width, 0px) * 2)
    );
    inset-block-start: calc(100% + var(--iui-token-popover-offset));

    &::before {
        inset-inline-start: var(--iui-token-popover-arrow-position-start);
        inset-block-end: calc(100% - var(--iui-token-popover-arrow-offset));
    }
}

.popover--bottom-end {
    inset-inline-end: calc(
        50% - var(--iui-token-popover-arrow-position-end, 0px) - var(
                --iui-token-popover-arrow-half-size,
                0px
            ) -
            (var(--iui-token-popover-border-width, 0px) * 2)
    );
    inset-block-start: calc(100% + var(--iui-token-popover-offset));

    &::before {
        inset-inline-end: var(--iui-token-popover-arrow-position-end);
        inset-block-end: calc(100% - var(--iui-token-popover-arrow-offset));
    }
}

.popover--left {
    inset-inline-end: calc(100% + var(--iui-token-popover-offset));
    inset-block-start: 50%;
    transform: translateY(-50%);

    &::before {
        inset-inline-start: calc(100% - var(--iui-token-popover-arrow-offset));
        inset-block-start: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}

.popover--right {
    inset-inline-start: calc(100% + var(--iui-token-popover-offset));
    inset-block-start: 50%;
    transform: translateY(-50%);

    &::before {
        inset-inline-end: calc(100% - var(--iui-token-popover-arrow-offset));
        inset-block-start: 50%;
        transform: translateY(-50%) rotate(45deg);
    }
}
