/**
 * Showcase
 */
.showcase {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.showcase__label {
    all: unset;
    font-family: system-ui, sans-serif;
    font-size: 32px;
}

.showcase__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/**
 * Showcase item
 */

.showcase-item {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.showcase-item__label {
    all: unset;
    font-family: system-ui, sans-serif;
    font-size: 21px;
}

.showcase-item__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/**
 * Showcase variant
 */

.showcase-variant {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.showcase-variant__label {
    font-family: monospace;
    font-size: 12px;
    color: gray;
}

.showcase-variant__content {
    padding: 8px;
    outline: 1px dotted #ccc;
}
