@use '../Typography/styles' as *;

.iui-badge {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    inline-size: fit-content;
    border-radius: 999px;
    background-color: #6f6f6f;
    color: #fff;
}

/* Color */

.iui-badge--color-danger {
    color: var(--iui-color-danger);
}

.iui-badge--color-success {
    color: var(--iui-color-success);
}

.iui-badge--color-warning {
    color: var(--iui-color-warning);
}

.iui-badge--color-info {
    color: var(--iui-color-info);
}

/* Size */

.iui-badge--size-sm {
    padding-inline: 4px;
    padding-block: 1px;
    min-inline-size: 18px;

    .iui-badge__text {
        @include font-label-1;
    }
}

.iui-badge--size-md {
    padding-inline: 5px;
    padding-block: 2px;
    min-inline-size: 20px;

    .iui-badge__text {
        @include font-label-2;
    }
}

.iui-badge--size-lg {
    padding-inline: 7px;
    padding-block: 4px;
    min-inline-size: 24px;

    .iui-badge__text {
        @include font-label-3;
    }
}
