.avatar {
    --avatar-size: 0;
    --avatar-radius: 0;

    position: relative;
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);

    & > svg {
        display: block;
    }
}

/* Containers */

.avatar__content {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);
    background-color: mediumslateblue;
}

/* Halo */

.avatar__halo {
    position: absolute;
    inset: -4px;
    pointer-events: none;
    border: 2px solid forestgreen;
    border-radius: 50%;
}

/* Inset */

.avatar__inset {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: 2px solid salmon;
    border-radius: 50%;
}

/* Badges */

.avatar__badges {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 1;
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);
    pointer-events: none;
}

.avatar__badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transform: translate(-50%, -50%);

    &:after {
        inline-size: 3px;
        block-size: 3px;
        content: '';
        background-color: black;
        border-radius: 50%;
    }
}

.avatar__badge--top {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(90deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(90deg));
}

.avatar__badge--top-start {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(45deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(45deg));
}

.avatar__badge--top-end {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(135deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(135deg));
}

.avatar__badge--bottom {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(270deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(270deg));
}

.avatar__badge--bottom-start {
    position: absolute;
    inset-block-start: calc(50% - var(--avatar-radius) * sin(225deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(225deg));
}

.avatar__badge--bottom-end {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(315deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(315deg));
}

.avatar__badge--left {
    inset-block-start: calc(50%);
    inset-inline-start: calc(50% - var(--avatar-radius));
}

.avatar__badge--right {
    inset-block-start: calc(50%);
    inset-inline-start: calc(50% + var(--avatar-radius));
}
