.avatar {
    --avatar-size: 0;
    --avatar-radius: 0;

    position: relative;
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);

    & > svg {
        display: block;
    }
}

/**
 * Sizes
 */

.avatar--sm {
}

.avatar--md {
}

.avatar--lg {
}

.avatar--jumbo {
}

/* Containers */

.avatar__content {
    display: flex;
    align-items: center;
    justify-content: center;
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);
    background-color: mediumslateblue;
}

/* Halo */

.avatar__halo {
    position: absolute;
    inset: -4px;
    pointer-events: none;
    border: 2px solid forestgreen;
    border-radius: 50%;
}

/* Inset */

.avatar__inset {
    position: absolute;
    inset: 0;
    pointer-events: none;
    border: 2px solid salmon;
    border-radius: 50%;
}

/* Add button */

.avatar__add-button {
    position: absolute;
    inset: 0;
}

/* Label */

.avatar__label {
    position: absolute;
    inset-block-start: 100%;
    inline-size: 100%;

    .avatar--sm & {
        font-size: 11px;
    }

    .avatar--md & {
        font-size: 12px;
    }

    .avatar--lg & {
        font-size: 14px;
    }

    .avatar--jumbo & {
        font-size: 24px;
    }
}

/**
 * Badges
 */

.avatar__badges {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
    z-index: 1;
    inline-size: var(--avatar-size);
    block-size: var(--avatar-size);
    pointer-events: none;
}

.avatar-badge {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transform: translate(-50%, -50%);
}

.avatar-badge--top {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(90deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(90deg));
}

.avatar-badge--top-start {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(45deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(45deg));
}

.avatar-badge--top-end {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(135deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(135deg));
}

.avatar-badge--bottom {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(270deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(270deg));
}

.avatar-badge--bottom-start {
    position: absolute;
    inset-block-start: calc(50% - var(--avatar-radius) * sin(225deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(225deg));
}

.avatar-badge--bottom-end {
    inset-block-start: calc(50% - var(--avatar-radius) * sin(315deg));
    inset-inline-start: calc(50% + var(--avatar-radius) * cos(315deg));
}

.avatar-badge--left {
    inset-block-start: calc(50%);
    inset-inline-start: calc(50% - var(--avatar-radius));
}

.avatar-badge--right {
    inset-block-start: calc(50%);
    inset-inline-start: calc(50% + var(--avatar-radius));
}
