.tab-list {
    --tab-list-border-size: 1px;
    --tab-item-active-text-color: rgb(79, 70, 229);
    --tab-item-active-top: 0;
    --tab-item-active-left: 0;
    --tab-item-active-width: 0;
    --tab-item-active-height: 0;
    --tab-item-active-indicator-color: rgb(99, 102, 241);

    /* rgb(107, 114, 128) gray-500 */
    /* rgb(55, 65, 81)    gray-700 */
    /* rgb(99, 102, 241)  indigo 500 */
    /* rgb(79, 70, 229)   indigo 600 */

    position: relative;
    display: flex;
    margin: 0;
    padding: 0;

    &::after {
        position: absolute;
        background-color: var(--tab-item-active-indicator-color, transparent);
        transition: all 0.3s ease;
        content: '';
    }

    &.tab-list--horizontal {
        border-block-end: var(--tab-list-border-size) solid rgb(229, 231, 235);

        &::after {
            inset-inline-start: var(--tab-item-active-left, 0);
            inset-block-end: calc(var(--tab-list-border-size) * -1);
            inline-size: var(--tab-item-active-width, 0);
            block-size: 2px;
        }
    }

    &.tab-list--vertical {
        flex-direction: column;
        inline-size: fit-content;
        border-inline-end: var(--tab-list-border-size) solid rgb(229, 231, 235);

        &::after {
            inset-inline-end: calc(var(--tab-list-border-size) * -1);
            inset-block-start: var(--tab-item-active-top, 0);
            inline-size: 2px;
            block-size: var(--tab-item-active-height, 0);
        }
    }
}

.tab-item {
    all: unset;
    padding: 8px 16px;
    color: #000;

    &:focus-visible {
        outline: 2px solid var(--tab-item-active-indicator-color);
        outline-offset: -2px;
    }

    @media (forced-colors: active) {
        &:focus-visible {
            outline: 2px solid LinkText;
        }
    }
}

.tab-item--active {
    color: var(--tab-item-active-text-color);
}

.tab-item--disabled {
    color: #999;
}
