.iui-textarea {
    all: unset;
    padding-inline: 8px;
    padding-block: 2px;
    block-size: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: #fff;
}
