.iui-select {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 8px;
    padding-block: 2px;
    block-size: 30px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc;
    background-color: #fff;
}

.iui-select__value {
    line-height: 30px;
    font-size: 16px;
}

.iui-select__trailing-icon {
    /*width: 24px;*/
    /*height: 24px;*/
}

.iui-select__options {
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 100%;
    display: none;
    inline-size: 200px;

    .iui-select--open & {
        display: block;
    }
}
