.avatar-group {
    position: relative;
    display: flex;
    flex-direction: row;
}

.avatar-group__item {
    position: relative;
    transition: transform 0.2s ease-in-out;

    &:not(:first-child) {
        margin-inline-start: calc(var(--avatar-group-overlap, 8px) * -1);
    }
}
